{% extends "base.html" %}


{% block title %}Find Best Phone{% endblock %}

{% block content %}
<h1>Find Best Phone</h1>

<!-- iPhone Model and Capacity Selection Form -->
<form id="modelCapacityForm" method="POST" action="{{ url_for('main.index') }}">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <label for="modelSelect">모델 선택:</label>
        <select id="modelSelect" name="modelSelect" class="form-control">
            <option value="">모델을 선택하세요</option>
        </select>
    </div>
    <div class="form-group">
        <label for="capacitySelect">용량 선택:</label>
        <select id="capacitySelect" name="capacitySelect" class="form-control">
            <option value="">모델을 먼저 선택하세요</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">모델 찾기</button>
</form>

<!-- Display Selected Values -->
<div id="selectedValues" class="mt-5"></div>

{% if ipdf_html %}
<h2>검색 결과</h2>
<div class="table-responsive">
    {#{ ipdf_html | safe }#}
    {{ ipdf_html }}
</div>
{% else %}
<style>
        th {
            text-align: center;
        }
         td {
            text-align: center;
        }
    </style>
<h2 id="productListTitle">Top 5 Product List</h2>
<table class="table table-striped" id="productTable">
    <thead>
        <tr>
            <th>제목</th>
            <th>가격</th>
            <th>외관</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr onclick="window.location='{{ url_for('main.product_detail', pid=product.PID) }}';" style="cursor:pointer;">
            <td>{{ product.NAME }}</td>
            <td>{{ "{:,.0f}".format(product.PRICE) }}</td>
            <td><img src="{{ product.PRODUCT_IMAGE }}" alt="Product Image" width="100"></td>
            
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

<script>
    const iphoneModels = {
        "아이폰 13 미니": ["128GB", "256GB", "512GB"],
        "아이폰 13": ["128GB", "256GB", "512GB"],
        "아이폰 13 프로": ["128GB", "512GB", "1TB"],
        "아이폰 13 프로 맥스": ["128GB", "256GB", "512GB", "1TB"],
        "아이폰 14": ["128GB", "256GB", "512GB"],
        "아이폰 14 PLUS": ["128GB", "256GB", "512GB"],
        "아이폰 14 프로": ["128GB", "256GB", "512GB", "1TB"],
        "아이폰 14 프로 맥스": ["128GB", "256GB", "512GB", "1TB"],
        "아이폰 15": ["128GB", "256GB", "512GB"],
        "아이폰 15 PLUS": ["128GB", "256GB", "512GB"],
        "아이폰 15 프로": ["128GB", "256GB", "512GB", "1TB"],
        "아이폰 15 프로 맥스": ["256GB", "512GB"]
    };

    function populateModels() {
        const modelSelect = document.getElementById("modelSelect");
        for (let model in iphoneModels) {
            let option = document.createElement("option");
            option.value = model;
            option.text = model;
            modelSelect.add(option);
        }
    }

    function populateCapacities() {
        const modelSelect = document.getElementById("modelSelect");
        const capacitySelect = document.getElementById("capacitySelect");
        const selectedModel = modelSelect.value;
        const capacities = iphoneModels[selectedModel];

        capacitySelect.innerHTML = "";
        capacities.forEach(function(capacity) {
            let option = document.createElement("option");
            option.value = capacity;
            option.text = capacity;
            capacitySelect.add(option);
        });
    }

    document.getElementById("modelCapacityForm").addEventListener("submit", function(event) {
        event.preventDefault();
        const form = event.target;
        const formData = new FormData(form);

        fetch(form.action, {
            method: "POST",
            body: formData,
            headers: {
                "X-Requested-With": "XMLHttpRequest"
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                document.getElementById("productTable").style.display = 'none';
                document.getElementById("productListTitle").style.display = 'none';
                document.getElementById("selectedValues").innerHTML = `<p>선택된 모델: ${data.model}</p><p>선택된 용량: ${data.capacity}</p>`;
                document.getElementById("selectedValues").innerHTML += data.table;

                // 검색 결과에 클릭 이벤트를 설정합니다.
                const productRows = document.querySelectorAll('#selectedValues table tbody tr');
                productRows.forEach(row => {
                    row.addEventListener('click', function() {
                        const productId = row.getAttribute('data-product-id');
                        if (productId) {
                            window.location.href = `/main/product/${productId}`;
                        }
                    });
                });

            } else {
                document.getElementById("selectedValues").innerHTML = `<p>오류가 발생했습니다. 다시 시도하세요.</p>`;
            }
        })
        .catch(error => {
            console.error("Error:", error);
            document.getElementById("selectedValues").innerHTML = `<p>오류가 발생했습니다. 다시 시도하세요.</p>`;
        });
    });

    window.onload = function() {
        populateModels();
        document.getElementById("modelSelect").addEventListener("change", populateCapacities);
    }
</script>



{% endblock %}
