{% extends "base.html" %}

{% block title %}Product Detail{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h2>상품정보</h2>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <table class="table table-striped">
                    <tr>
                        <th>제목</th>
                        <td>{{ product.NAME }}</td>
                    </tr>
                    <tr>
                        <th>가격</th>
                        <td>{{ "{:,.0f}".format(product.PRICE) }}</td>

                        {#<td>{{ product.PRICE | format(",") }}</td>#}
                    </tr>
                    <tr>
                        <th>위치</th>
                        <td>{{ product.LOCATION }}</td>
                    </tr>
                    <tr>
                        
                    </tr>
                </table>
            </div>
            <div class="col-md-6 text-center">
                <img src="{{ product.PRODUCT_IMAGE }}" alt="Product Image" class="img-fluid rounded" width="500">
            </div>
        </div>
        <div class="mt-4 text-center">
            <form method="POST" action="{{ url_for('main.add_to_wishlist', product_id=product.PID) }}" class="d-inline-block">
                {{ form.hidden_tag() }}
                <button type="submit" class="btn btn-primary">Add to Wishlist</button>
            </form>
            <a target="_blank" href="https://bunjang.co.kr/product/{{ product.PID }}" class="btn btn-secondary ml-2">Show Selling Spot</a>
            <a href="{{ url_for('main.index') }}" class="btn btn-secondary ml-2">Back to Product List</a>
        </div>
    </div>
</div>
{% endblock %}
