{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block header %}Login page{% endblock %}
{% block content %}
    <form method="post">
        <input type="hidden" />
        <p>
            <label for="username">Username</label><br />
            <input type="text" name="username" id="username" required />
        </p>
        <p>
            <label for="password">Password</label><br />
            <input type="password" name="password" id="password" required />
        </p>
        <button type="submit">Login</button>
    </form>
    <a href="{{ url_for('login') }}">Login</a>
{% endblock %}